<div class="row" id="featured-restaurants">
  <div class="col-lg-8 col-lg-offset-2" id="static-header">
  <h1>Featured Restaurants</h1><br>
    <% @restaurants.each do |restaurant| %>
      <div class="item-box col-md-4">
        <div class="item-box-inner">
          <h4 class="item-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
          <br />
          <% unless restaurant.items.empty?  %>
            <%= image_tag restaurant.items.sample.image.url(:menu_list), class: "menu_list_img" %>
          <% end %>
          <br />
          <br />
          <div class="item-desc"><%= restaurant.description %></div></br>
        </div>
      </div>
    <% end %>
  </div>
</div>
