<div id="center-form" class="col-sm-offset-3 col-sm-6">
<h2> Sign into your account </h2>
<%= bootstrap_form_for(:session, url: login_path) do |f| %>
<%= f.email_field :email, hide_label: true, placeholder: "Email" %>
<%= f.password_field :password, hide_label: true, placeholder: "Password"%>
<%= f.submit "Log in" %>
<% end %>
</div>
<div class="col-sm-3">

</div>
