<h1>Hello from Eatsy!</h1>

<p>You've been invited to join <%= @restaurant.name %> by <%= @owner.full_name %>.</p>

<p>Sign up <a href="http://intelligent-mandarine-3551.herokuapp.com/users/new">here!</a></p>
