<div id="border" class="row footer-section">

  <div class="col-lg-6 footer" id="footer-left">
    <%= link_to "Open a Restaurant", new_restaurant_path %>
  </div>
  <div class="col-lg-6 footer" id="footer-center">
    <div id= "address">
      <h3>Speedy Turtle Pizza</h3>
      <p><strong>Address</strong></p>
      <p>1510 Blake Street</p>
      <p>Denver, CO 80202</p>
      <p><strong>Phone</strong></p>
      <p>(303)881-1745</p>
    </div>
  </div>
</div>
