<div id="border" class="row footer-section">
    <div class="social-icons">
    <h5><i class="fa fa-github"></i> GitHub</h5>
    <h5><i class="fa fa-facebook-official"></i> Facebook</h5>
    <h5><i class="fa fa-twitter"></i> Twitter</h5>
    <h5><i class="fa fa-pinterest-p"></i> Pinterest</h5>
    <h5><i class="fa fa-instagram"></i> Instagram</h5>
    </div>

    <% if current_user %>
    <h3><%= button_to "Open a Restaurant", new_restaurant_path, :method => :get  %></h3>
    <% else %>
    <h6>To Open a Restaurant <%= link_to "Create Account!", new_user_path %></h6>
    <% end %><br>
<h6>Site Created By: Chelsea Worrel, Morgan Miller and Sally MacNicholas 2015</h6>
</div>
