<div id="border" class="row footer-section">
    <% if current_user %>
    <h3><%= menu_item "Open a Restaurant", new_restaurant_path %></h3>
    <% end %>
<h6>Site Created By: Chelsea Worrel, Morgan Miller and Sally MacNicholas 2015</h6>
</div>
