<div id="border" class="row footer-section">
    <% if current_user %>
    <h3><%= button_to "Open a Restaurant", new_restaurant_path, :method => :get  %></h3>
    <% end %><br>
<h6>Site Created By: Chelsea Worrel, Morgan Miller and Sally MacNicholas 2015</h6>
</div>
