
<div class="edit_categories">
  <p><%= link_to "Create Category", new_admin_restaurant_category_path(@restaurant) %></p>
  <% @restaurant.categories.each do |category| %>
    <p><%= category.name %>
      <%= link_to "Edit Category", edit_admin_restaurant_category_path(restaurant_slug: @restaurant.slug, id: category.id) %>
      <%= link_to "Delete Category", admin_restaurant_category_path(restaurant_slug: @restaurant.slug, id: category.id), method: :delete %></p>
  <% end %>
</div>
